{% extends 'base.html.twig' %}

{% block title %}Condition index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css">
{% endblock %}

{% block body %}
    <h1>Condition index</h1>

    <table class="table table-stripped table-bordered" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Condition_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for condition in conditions %}
            <tr>
                <td>{{ condition.id }}</td>
                <td>{{ condition.conditionName }}</td>
                <td>
                    <a href="{{ path('app_condition_show', {'id': condition.id}) }}">show</a>
                    <a href="{{ path('app_condition_edit', {'id': condition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_condition_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
{% endblock %}
