{% extends 'base.html.twig' %}

{% block title %}Condition{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/show.css') }}">
{% endblock %}

{% block body %}
    <h1>Condition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condition.id }}</td>
            </tr>
            <tr>
                <th>Condition_name</th>
                <td>{{ condition.conditionName }}</td>
            </tr>
        </tbody>
    </table>

    <a class="back-btn" href="{{ path('app_condition_index') }}">back to list</a>

    <a class="edit-btn" href="{{ path('app_condition_edit', {'id': condition.id}) }}">edit</a>

{% endblock %}
