{% extends 'base.html.twig' %}

{% block title %}Repair index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
{% endblock %}

{% block body %}
    <h1>Repair index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Is_done</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for repair in repairs %}
            <tr>
                <td>{{ repair.id }}</td>
                <td>{{ repair.date ? repair.date|date('Y-m-d') : '' }}</td>
                <td>{{ repair.description }}</td>
                <td>{{ repair.cost }}</td>
                <td>{{ repair.isDone ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_repair_show', {'id': repair.id}) }}">show</a>
                    <a href="{{ path('app_repair_edit', {'id': repair.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="index-create" href="{{ path('app_repair_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
{% endblock %}
